aiohttp==3.12.14
azure-ai-formrecognizer==3.3.3
azure-cosmos==4.14.0
azure-identity==1.25.1
azure-keyvault-secrets==4.10.0
azure-search-documents==11.7.0b1
azure-storage-blob==12.27.0
beautifulsoup4==4.14.2
chardet==5.2.0
httpx==0.28.1
langchain==1.0.2
markdown==3.9
markdownify==1.2.0
openai==2.6.1
packaging==25.0
pytest-asyncio==1.2.0
python-dotenv==1.2.1
pytest==8.4.2
quart==0.20.0
requests==2.32.5
tiktoken==0.12.0
tqdm==4.67.1
urllib3==2.5.0
