# Flask[async]==2.3.2
aiohttp==3.12.14
azure-cosmos==4.14.0
azure-identity==1.25.1
azure-search-documents==11.7.0b1
azure-storage-blob==12.27.0
flask==3.0.3
httpx==0.28.1
gunicorn==22.0.0
openai==2.6.1
python-dotenv==1.2.1
quart==0.20.0
uvicorn==0.24.0
